<html>
	<head>
		<title>RGS</title>
		<link rel="stylesheet" type="text/css" href="static/bulma.min.css">

	</head>
	<body>
		<section class="hero is-white is-fullheight">
			<div class="hero-body">
				<div class="container">
					<h1 class="title">Welcome {{ name }}</h1>
					<form method="POST" action="/auth">
						<p class="control has-addons">
							<input class="input is-info is-large" type="password" name="password" placeholder="Password..." required>
							<input class="button is-info is-large" type="submit" value="Login">
						</p>
					</form>
				</div>
			</div>
		</section>
	</body>
</html>