<!DOCTYPE html>
<html>
	<head>
		<title>RGS Wireframe</title>

		<script type="text/javascript" src="static/jackQuery.js"></script>

		<style type="text/css">
			.main-body {
				margin: 5% 30% 0 30%;
			}

			div {
				border: 1px black solid;
				padding: 2%;
			}

			table {
				width: 100%;
			}

			td, th {
				border: 1px solid black;
				text-align: center;
			}

		</style>
	</head>
	<body>
		<div class="main-body">
			<table id="actions">
				<tr>
					<td>
						<input type="input" name="search" placeholder="Search...">
						<button onclick="">Search</button>
						<button onclick="">Filters</button>
					</td>
					<td>
						<button onclick="">Edit Inventory</button>
					</td>
				</tr>
				<tr>
					<td>
						<button onclick="">Sign Selected Gear Out</button>
					</td>
					<td>
						<button onclick="">Sign Gear In</button>
					</td>
				</tr>
			</table>

			<div id="main">
				<form action="/check_out">
					<table id="items">
						<tr>
							<th>Select</th>
							{% for column in columns %}
							<th>{{ column }}</th>
							{% endfor %}
						</tr>
						{% for item in items %}
						<tr>
							<td>
								<select>
									{% for n in range(0, item.count + 1) %}
									<option value="{{n}}-{{item.name}}">{{n}}</option>
									{% endfor %}
								</select> / {{item.count}}
							</td>
							{% for column in columns %}
							<td id="{{column}}-{{item[column]}}">{{item[column]}}</td>
							{% endfor %}
						</tr>
						{% endfor %}
					</table>
				</form>
			</div>
		</div>
	</body>
</html>