<!DOCTYPE html>
<html>
	<head>
		<title>RGS Wireframe</title>

		<script type="text/javascript" src="static/js/jackQuery.js"></script>
		<script type="text/javascript" src="static/js/inventory.js"></script>

		<style type="text/css">
			.main-body {
				margin: 5% 25% 0 25%;
			}

			div {
				border: 1px black solid;
				padding: 2%;
			}

			table {
				width: 100%;
			}

			td, th {
				border: 1px solid black;
				text-align: center;
			}

		</style>
	</head>
	<body>
		<div class="main-body">
			<table id="actions">
				<tr>
					<td>
						<button onclick="">Sign Selected Gear Out</button>
					</td>
					<td>
						<button onclick="">Sign Gear In</button>
					</td>
				</tr>
				<tr>
					<td>
						
						<!-- <button onclick="toggle_filters();">Filters</button> -->
					</td>
					<td>
						<button onclick="">Edit Inventory</button>
					</td>
				</tr>
			</table>

			<div id="main">
				<!-- <form action="/check_out"> -->
					<table id="items">
						<tr>
							<th>Select</th>
							{% for column, _ in columns.iteritems() %}
							<th>{{ column }}</th>
							{% endfor %}
						</tr>
						<tr id="filters">
							<td>
								<!-- <button type="button" onclick="update_filters();">Update</button> -->
								Filters:
							</td>
							{% for column, options in columns.iteritems() %}
							<th>
								{% if options|count < 4 %}

									{% for option in options %}
									{{option}}: <input type="checkbox" class="filter-parameter" value="{{column}}-{{option}}" onclick="update_filters()"><br>
									{% endfor %}

								{% else %}

									<input class="filter-parameter" type="input" placeholder="Search..." onkeypress="fuzzy_search({{column}})">

								{% endif %}
							</th>
							{% endfor %}
						</tr>
						{% for item in items %}
						<tr class="inventory-item">
							<td>
								<select>
									{% for n in range(0, item.count + 1) %}
									<option value="{{n}}-{{item.name}}">{{n}}</option>
									{% endfor %}
								</select> / {{item.count}}
							</td>
							{% for column, _ in columns.iteritems() %}
							<td id="{{column}}-{{item[column]}}">{{item[column]}}</td>
							{% endfor %}
						</tr>
						{% endfor %}
					</table>
				<!-- </form> -->
			</div>
		</div>

		<script type="text/javascript">
			// Setup
			update_filters();
		</script>
	</body>
</html>